<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>TRAB3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/login']" expand="block" color="dark">LOG-IN</ion-button>
        <span> NÃO POSSUI CADASTRO?</span>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">REGISTRAR</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>